.headerLoggedInChild,
.headerLoggedInInner,
.headerLoggedInItem {
  position: absolute;
  margin: 0 !important;
  top: 82px;
  left: 243px;
  background-color: var(--mint-green);
  width: 103px;
  height: 5px;
  z-index: 0;
}
.headerLoggedInInner,
.headerLoggedInItem {
  left: 1078px;
  opacity: 0;
  z-index: 1;
}
.headerLoggedInInner {
  left: 104px;
  width: 107px;
  z-index: 2;
}
.airplaneIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.findFlight {
  position: relative;
  font-size: var(--montserrat-medium-14-size);
  font-weight: 600;
  font-family: var(--montserrat-medium-14);
  color: var(--blackish-green);
  text-align: left;
}
.airplaneParent,
.frameGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.airplaneParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-items: center;
  gap: var(--gap-9xs);
}
.frameGroup {
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.logoIcon {
  position: relative;
  width: 110.35px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-269xl);
  z-index: 3;
}
.favourites {
  position: relative;
  font-weight: 600;
}
.frameDiv,
.heartParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frameDiv {
  gap: var(--gap-base);
}
.frameChild {
  position: relative;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
  z-index: 0;
}
.johnD {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.arrowDownIcon,
.frameItem {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
}
.frameItem {
  top: 33px;
  left: 33px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  z-index: 2;
}
.arrowDownIcon {
  top: 31px;
  left: 31px;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.ellipseParent {
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-9xs);
}
.ellipseParent,
.frameContainer,
.headerLoggedIn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameContainer {
  justify-content: flex-start;
  gap: var(--gap-13xl);
  z-index: 4;
}
.headerLoggedIn {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--neutrals);
  box-shadow: var(--cards-shadow);
  width: 1440px;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-85xl);
  box-sizing: border-box;
}
.hotelListing1Child {
  position: absolute;
  top: 287px;
  left: 471px;
  background-color: var(--blackish-green);
  width: 0.5px;
  height: 1420px;
  opacity: 0.25;
}
.places {
  color: var(--slamon);
}
.recommended {
  font-weight: 600;
}
.chevronDownIcon,
.sortByRecommendedContainer {
  position: relative;
}
.chevronDownIcon {
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.showing4Of257PlacesParent,
.sortByRecommendedParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sortByRecommendedParent {
  gap: var(--gap-9xs);
  text-align: right;
}
.showing4Of257PlacesParent {
  gap: var(--gap-459xl);
}
.styleLayer {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--blackish-green);
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.button,
.frameParent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.button {
  align-self: stretch;
  align-items: flex-start;
  color: var(--neutrals);
}
.frameParent1 {
  position: absolute;
  top: 287px;
  left: 496px;
  align-items: flex-end;
  gap: var(--gap-13xl);
}
.subscribeNewsletter {
  position: relative;
  line-height: 54px;
  display: inline-block;
  width: 364px;
}
.theTravel {
  position: relative;
  opacity: 0.8;
}
.getInspiredReceive {
  position: relative;
  font-size: var(--tradegothic-bold-16-size);
  font-weight: 500;
  font-family: var(--montserrat-medium-14);
  opacity: 0.7;
}
.labelText,
.theTravelParent {
  display: flex;
  justify-content: flex-start;
}
.theTravelParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.labelText {
  background-color: var(--neutrals);
  flex-direction: row;
  align-items: center;
}
.content {
  flex: 1;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.stateLayer,
.textField1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.stateLayer {
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
}
.textField1 {
  border-radius: var(--br-9xs);
  background-color: var(--neutrals);
  flex-direction: column;
  align-items: flex-start;
}
.supportingText1 {
  flex: 1;
  position: relative;
}
.supportingText,
.textField {
  align-items: flex-start;
  justify-content: flex-start;
}
.supportingText {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-base) 0;
  font-size: var(--montserrat-medium-14-size);
}
.textField {
  flex: 1;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  height: 56px;
  display: flex;
  flex-direction: column;
}
.styleLayer1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--blackish-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button2,
.textFieldParent {
  display: flex;
  justify-content: flex-start;
}
.button2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--montserrat-medium-14-size);
  color: var(--neutrals);
}
.textFieldParent {
  width: 593px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--tradegothic-bold-16-size);
  color: var(--color-gray-300);
  font-family: var(--montserrat-medium-14);
}
.frameParent4,
.subscribeNewsletterParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent4 {
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--tradegothic-bold-20-size);
}
.subscribeNewsletterParent {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-5xl) 0;
}
.emojioneV1openMailboxWithIcon {
  position: relative;
  width: 400px;
  height: 305px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frameParent3 {
  border-radius: var(--br-xl);
  background-color: var(--color-lightcyan);
  box-shadow: var(--cards-shadow);
  width: 1232px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.akarIconsfacebookFill,
.logoIcon1 {
  position: relative;
  width: 120px;
  height: 39.15px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.akarIconsfacebookFill {
  width: 20px;
  height: 20px;
}
.akarIconsfacebookFillParent,
.logoParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.logoParent {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.canada {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 175.2px;
  opacity: 0.7;
}
.canadaParent,
.ourDestinationsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.canadaParent {
  gap: var(--gap-xs);
  font-size: var(--montserrat-medium-14-size);
  font-family: var(--montserrat-medium-14);
}
.ourDestinationsParent {
  flex: 1;
  gap: var(--gap-base);
}
.frameParent5,
.frameParent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent6 {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-5xl);
}
.frameParent5 {
  width: 1232px;
  justify-content: flex-start;
  gap: var(--gap-121xl);
  font-size: var(--tradegothic-bold-16-size);
}
.footer,
.frameParent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frameParent2 {
  background-color: var(--mint-green);
  height: 422px;
  padding: var(--padding-13xl) var(--padding-85xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
}
.footer {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  border-radius: var(--br-11xl);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.02);
  width: 1440px;
  height: 573px;
  font-size: var(--font-size-25xl);
  font-family: var(--tradegothic-bold-16);
}
.hotelListing1 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 2488px;
  overflow: hidden;
  text-align: left;
  font-size: var(--montserrat-medium-14-size);
  color: var(--blackish-green);
  font-family: var(--montserrat-medium-14);
}
