.landingPageChild {
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: var(--br-5xl);
  width: 1380px;
  height: 599px;
  object-fit: cover;
}
.landingPageItem {
  position: absolute;
  top: 611px;
  left: 1410px;
  border-radius: 0 0 var(--br-5xl) var(--br-5xl);
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6));
  width: 1380px;
  height: 581px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.helpingOthers,
.liveTravel {
  position: relative;
}
.liveTravel {
  font-size: 80px;
  text-transform: uppercase;
}
.helpingOthersParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.specialOffersTo {
  position: relative;
  font-size: var(--tradegothic-bold-20-size);
  font-weight: 600;
  font-family: var(--montserrat-medium-14);
}
.frameGroup,
.frameParent {
  position: absolute;
  top: 180px;
  left: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameGroup {
  top: 1514px;
  left: 104px;
  width: 1232px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.subscribeNewsletter {
  position: relative;
  line-height: 54px;
  display: inline-block;
  width: 364px;
}
.theTravel {
  position: relative;
  opacity: 0.8;
}
.getInspiredReceive {
  position: relative;
  font-size: var(--tradegothic-bold-16-size);
  font-weight: 500;
  font-family: var(--montserrat-medium-14);
  opacity: 0.7;
}
.labelText,
.theTravelParent {
  display: flex;
  justify-content: flex-start;
}
.theTravelParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.labelText {
  background-color: var(--neutrals);
  flex-direction: row;
  align-items: center;
}
.content {
  flex: 1;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.stateLayer,
.textField1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.stateLayer {
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
}
.textField1 {
  border-radius: var(--br-9xs);
  background-color: var(--neutrals);
  flex-direction: column;
  align-items: flex-start;
}
.supportingText1 {
  flex: 1;
  position: relative;
}
.supportingText,
.textField {
  align-items: flex-start;
  justify-content: flex-start;
}
.supportingText {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-base) 0;
  font-size: var(--montserrat-medium-14-size);
}
.textField {
  flex: 1;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  height: 56px;
  display: flex;
  flex-direction: column;
}
.button1 {
  position: relative;
  font-size: var(--montserrat-medium-14-size);
  font-weight: 600;
  font-family: var(--montserrat-medium-14);
  color: var(--neutrals);
  text-align: left;
}
.styleLayer {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--blackish-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.button,
.textFieldParent {
  display: flex;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.textFieldParent {
  width: 593px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--tradegothic-bold-16-size);
  color: var(--color-gray-300);
  font-family: var(--montserrat-medium-14);
}
.frameParent1,
.subscribeNewsletterParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent1 {
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--tradegothic-bold-20-size);
}
.subscribeNewsletterParent {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-5xl) 0;
}
.emojioneV1openMailboxWithIcon {
  position: relative;
  width: 400px;
  height: 305px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frameDiv {
  border-radius: var(--br-xl);
  background-color: var(--color-lightcyan);
  box-shadow: var(--cards-shadow);
  width: 1232px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.akarIconsfacebookFill,
.logoIcon {
  position: relative;
  width: 120px;
  height: 39.15px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.akarIconsfacebookFill {
  width: 20px;
  height: 20px;
}
.akarIconsfacebookFillParent,
.logoParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.logoParent {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.canada {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 175.2px;
  opacity: 0.7;
}
.canadaParent,
.ourDestinationsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.canadaParent {
  gap: var(--gap-xs);
  font-size: var(--montserrat-medium-14-size);
  font-family: var(--montserrat-medium-14);
}
.ourDestinationsParent {
  flex: 1;
  gap: var(--gap-base);
}
.frameParent2,
.frameParent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent3 {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-5xl);
}
.frameParent2 {
  width: 1232px;
  justify-content: flex-start;
  gap: var(--gap-121xl);
  font-size: var(--tradegothic-bold-16-size);
}
.footer,
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frameContainer {
  background-color: var(--mint-green);
  height: 422px;
  padding: var(--padding-13xl) var(--padding-85xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.02);
  width: 1440px;
  height: 573px;
  text-align: left;
  font-size: var(--font-size-25xl);
  color: var(--blackish-green);
}
.landingPage {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 3528px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-26xl);
  color: var(--neutrals);
  font-family: var(--tradegothic-bold-16);
}
