.frameChild {
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumaquamarine-100);
  width: 425px;
  height: 586px;
}
.theFacilitiesAre {
  margin: 0;
}
.theFacilitiesAreContainer {
  display: inline-block;
  height: 80px;
  flex-shrink: 0;
}
.aRealSenseContainer,
.theFacilitiesAreContainer,
.viewMore {
  align-self: stretch;
  position: relative;
}
.aRealSenseContainer {
  font-weight: 500;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  opacity: 0.5;
}
.viewMore {
  font-size: var(--tradegothic-bold-16-size);
  font-family: var(--tradegothic-bold-16);
  text-align: right;
}
.aRealSenseOfCommunityNurParent,
.theFacilitiesAreSuperbCleParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.aRealSenseOfCommunityNurParent {
  gap: var(--gap-xs);
  font-size: var(--montserrat-medium-14-size);
  font-family: var(--montserrat-medium-14);
}
.theFacilitiesAreSuperbCleParent {
  gap: var(--gap-base);
}
.ionstarIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ionstarParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.thomas,
.weaveStudios {
  align-self: stretch;
  position: relative;
}
.weaveStudios {
  font-size: var(--tradegothic-bold-12-size);
  font-weight: 500;
  font-family: var(--montserrat-medium-14);
  opacity: 0.5;
}
.thomasParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.google {
  flex: 1;
  position: relative;
  opacity: 0.4;
}
.flatColorIconsgoogleParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--tradegothic-bold-12-size);
}
.frameDiv {
  align-self: stretch;
  gap: var(--gap-xs);
}
.frameContainer,
.frameDiv,
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--montserrat-medium-14-size);
}
.frameGroup {
  width: 377px;
  gap: var(--gap-base);
}
.frameItem {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 200px;
  flex-shrink: 0;
  object-fit: cover;
}
.frameParent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--neutrals);
  box-shadow: 2px 4px 16px rgba(17, 34, 17, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  gap: var(--gap-21xl);
}
.rectangleParent {
  position: relative;
  width: 449px;
  height: 610px;
  text-align: left;
  font-size: var(--tradegothic-bold-24-size);
  color: var(--blackish-green);
  font-family: var(--tradegothic-bold-16);
}
