.filters {
  font-size: var(--tradegothic-bold-20-size);
}
.filters,
.price {
  position: relative;
  font-weight: 600;
}
.chevronDownIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.priceParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frameChild {
  position: relative;
  width: 343px;
  height: 24px;
  object-fit: cover;
}
.div,
.div1 {
  position: relative;
  font-weight: 500;
}
.div1 {
  text-align: right;
}
.frameParent,
.groupParent,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent {
  flex-direction: row;
  gap: var(--gap-266xl);
}
.frameParent,
.groupParent {
  flex-direction: column;
}
.groupParent {
  gap: var(--gap-5xs);
  font-size: var(--tradegothic-bold-12-size);
}
.frameParent {
  gap: var(--gap-base);
}
.frameItem {
  position: relative;
  background-color: var(--blackish-green);
  width: 343px;
  height: 0.5px;
  opacity: 0.25;
}
.checkboxParent,
.frameContainer {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.checkboxParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameContainer {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--montserrat-medium-14-size);
}
.checkboxParent2,
.frameContainer,
.frameGroup {
  display: flex;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.checkboxParent2 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.more {
  position: relative;
  font-size: var(--montserrat-medium-14-size);
  color: var(--slamon);
}
.filtersParent,
.frameParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.filtersParent {
  position: absolute;
  top: 287px;
  left: 104px;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--tradegothic-bold-16-size);
  color: var(--blackish-green);
  font-family: var(--montserrat-medium-14);
}
